<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Document</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1459694276_4010499.css">
  <link rel="stylesheet" href="../../dest/css/app2.css">

</head>

<body>
  <div class="head">
    <div class="line"></div>
    <i class="iconfont icon-logo logo"></i>
    <div class="line"></div>
    SNAP<span style="color:rgba(255,255,255,.5);">SHOP</span>
    <div class="ll">
      <div class="nl"></div>
    </div>
  </div>
  <ul class="inputPoint">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <span class="tips">Enter Apple Shop Pin</span>
  <ul id="phoneInput">
    <li data-val="1">
      1
    </li>
    <li data-val="2">
      2
      <p>ABC</p>
    </li>
    <li data-val="3">3
      <p>DEF</p>
    </li>
    <li data-val="4">4
      <p>GHI</p>
    </li>
    <li data-val="5">5
      <p>HKL</p>
    </li>
    <li data-val="6">6
      <p>MNO</p>
    </li>
    <li data-val="7">7
      <p>PQRS</p>
    </li>
    <li data-val="8">8
      <p>TUV</p>
    </li>
    <li data-val="9">9
      <p>WXYZ</p>
    </li>
    <li class="iconfont icon-fanhui fanhui"></li>
    <li data-val="9">0</li>
    <li class="iconfont icon-right2 right2"></li>
  </ul>
  <span class="forget">Forget Pin?</span>
  <script src="../unitTest/test.js"></script>
</body>

</html>
