<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Document</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1459694276_4010499.css">
  <link rel="stylesheet" href="../../dest/css/app2.css">

</head>
<body>
  <div class="head">
    <div class="line"></div>
    <i class="iconfont icon-logo logo"></i>
    <div class="line"></div>
    SNAP<span style="color:rgba(255,255,255,.5);">SHOP</span>
    <div class="ll">
      <div class="nl"></div>
    </div>
  </div>


  <script src="../unitTest/test.js"></script>
</body>
</html>
